<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>网络拍卖行（客户端）</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/room.css">
	<link rel="stylesheet" type="text/css" href="css/chat.css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<script>if (typeof module === 'object') {
		window.module = module;
		module = undefined;
	}</script>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>
<div class="container-fluid">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#" onclick="goHome()">网上拍卖系统(客户端)</a>
		<form id="loginForm" class="form-inline float-xs-right">
			<div class="input-group">
				<span class="input-group-addon">用户名:</span>
				<input id="login-user-id" type="text" class="form-control" placeholder="UserID"
				       aria-describedby="basic-addon1">
				<span class="input-group-btn">
					<button class="btn btn-outline-success" type="button" onclick="loginNavWrap()">登录</button>
				</span>
			</div>
		</form>
		<form id="logoutForm" class="form-inline float-xs-right" style="display: none">
			<div class="input-group">
				<span id="logout-user-id" class="input-group-addon"></span>
				<span class="input-group-btn">
					<button class="btn btn-outline-success" type="button" onclick="logoutNavWrap()">登出</button>
				</span>
			</div>
		</form>
	</nav>
	<div id="rooms" class="row">
		<div class="card col-lg-4 col-md-6 col-sm-6 col-xs-12 room" v-for="item in items"
		     v-on:click="enterRoom(item.ID)">
			<div class="card-block">
				<h4 class="card-title">{{ item.title }}</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Current price: ${{ item.price }}</li>
				<li class="list-group-item" v-if="item.userId != ''">Raise by user No.{{ item.userId }}</li>
				<li class="list-group-item" v-else>Nobody raised up YET</li>
			</ul>
		</div>
	</div>
	<div id="room" class="row" style="display: none">
		<div class="card col-xs-3">
			<div class="card-block">
				<h4 class="card-title">{{ status.title }}</h4>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Current price: ${{ status.price }}</li>
				<li class="list-group-item" v-if="status.userId != ''">Raise by user No.{{ status.userId }}</li>
				<li class="list-group-item" v-else>Nobody raised up YET</li>
				<li class="list-group-item">
					<button class="btn btn-warning" onclick="exitRoom()">离开拍卖室</button>
				</li>
			</ul>
		</div>
		<div class="col-xs-6">
			<div class="row">
				<div id="msgList" class="col-xs-12">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="input-group">
						<input id="raised-price" class="form-control" type="text" placeholder="Price">
						<span class="input-group-btn">
							<button class="btn btn-outline-success" type="button"
							        onclick="raisePrice()">Raise!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<ul class="list-group">
				<li class="list-group-item">
					User List
				</li>
				<li class="list-group-item" v-for="user in status.users">
					{{ user }}
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
<script src="common/header.js"></script>
<script src="controller/status.js"></script>
<script src="controller/common.js"></script>
<script src="controller/items.js"></script>
<script src="js/render.js"></script>
<script src="js/room.js"></script>
<script src="js/message.js"></script>
<script src="js/nav.js"></script>
<script src="core/socket.js"></script>
<script src="core/receiver.js"></script>
<script src="core/responser.js"></script>
<script src="core/sender.js"></script>

</html>
